## CV env
alembic==1.7.7
boto3==1.24.59
botocore==1.27.59
brotlipy==0.7.0
certifi==2021.10.8
contextlib2==0.5.5
Cython==0.29.25
databricks-cli==0.17.2
docker==5.0.3
fonttools==4.25.0
gitdb==4.0.9
GitPython==3.1.27
gunicorn==20.1.0
intel-extension-for-pytorch==1.12.100
ipywidgets==8.0.1
jmespath==1.0.1
jupyterlab-widgets==3.0.1
Mako==1.2.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mkl-umath==0.1.1
mlflow==1.28.0
munkres==1.1.4
neural-compressor==1.12
numexpr==2.8.1
numpy==1.21.2
oauthlib==3.2.0
opencv-python==4.6.0.66
pandas==1.4.1
Pillow==9.0.0
prettytable==0.7.2
prometheus-flask-exporter==0.20.3
protobuf==4.21.5
psutil==5.9.1
pyeditline==2.0.1
PyJWT==2.4.0
pymongo==3.12.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
querystring-parser==1.2.4
s3transfer==0.6.0
seaborn==0.11.2
smmap==5.0.0
sqlparse==0.4.2
tabulate==0.8.10
TBB==0.2
torch==1.12.0
torchsummary==1.5.1
torchvision==0.13.1
webencodings==0.5.1
widgetsnbextension==4.0.1
zope.event==4.5.0

## ML env
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.8.1
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.weakref==1.0.post1
beautifulsoup4==4.11.1
bkcharts==0.2
black==19.10b0
bleach==5.0.1
boto3==1.24.57
botocore==1.27.57
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.1.3
cloudpickle==2.1.0
comtypes==1.1.10
constantly==15.1.0
cryptography==36.0.0
cssselect==1.1.0
cycler==0.11.0
cytoolz==0.11.0
daal==2021.6.0
daal4py==2021.6.3
dask==2022.1.1
databricks-cli==0.17.0
datasets==2.4.0
debugpy==1.6.3
decorator==5.0.9
defusedxml==0.7.1
dill==0.3.5.1
distributed==2022.1.1
docker==5.0.3
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.10.0
fastjsonschema==2.16.1
filelock==3.8.0
Flask==2.2.2
fonttools==4.25.0
frozenlist==1.3.1
fsspec==2022.7.1
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
gunicorn==20.1.0
HeapDict==1.0.1
huggingface-hub==0.8.1
idna==2.10
importlib-metadata==4.8.1
importlib-resources==5.9.0
inflection==0.5.1
iniconfig==1.1.1
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.1
jmespath==1.0.1
joblib==1.1.0
json5==0.9.6
jsonschema==4.14.0
jupyter-client==7.3.4
jupyter_core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab-server==2.10.3
kaleido==0.2.1
kiwisolver==1.4.4
llvmlite==0.38.0
locket==1.0.0
Mako==1.2.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mistune==0.8.4
mlflow==1.27.0
modin==0.15.2
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.2
multiprocess==0.70.13
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic==0.4.3
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.12
notebook-shim==0.1.0
numexpr==2.8.3
numpy==1.23.2
oauthlib==3.2.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pkgutil_resolve_name==1.3.10
plotly==5.10.0
pluggy==1.0.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
prompt-toolkit==3.0.30
protobuf==3.19.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
Pygments==2.13.0
PyJWT==2.4.0
pyls-spyder==0.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.4
pyreadline==2.1
pyrsistent==0.18.0
PySocks==1.7.1
pytest==7.1.1
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
PyYAML==6.0
pyzmq==23.2.1
querystring-parser==1.2.4
queuelib==1.5.0
regex==2022.8.17
requests==2.25.1
responses==0.18.0
s3transfer==0.6.0
scikit-learn==1.1.2
scikit-learn-intelex==2021.6.3
scipy==1.9.0
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.40
sqlparse==0.4.2
stack-data==0.4.0
statsmodels==0.13.2
tables==3.6.1
tabulate==0.8.9
tbb==2021.6.0
tblib==1.7.0
tenacity==8.0.1
terminado==0.15.0
testpath==0.6.0
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typed-ast==1.5.4
typing_extensions==4.1.1
ujson==5.4.0
urllib3==1.26.8
waitress==2.1.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.2
wheel==0.37.1
win-unicode-console==0.5
wincertstore==0.2
xgboost==1.6.1
xxhash==3.0.0
yarl==1.8.1
zict==2.0.0
zipp==3.6.0

## NLP training env
transformers==4.21.1
datasets==2.4.0
matplotlib==3.5.3
wordcloud==1.8.2.2
optimum==1.3.0
optimum.habana==1.1.2
optimum.intel==1.3.0
opencv_python==4.6.0.66
neural_compressor==1.13.1
jupyterlab==3.4.6

## NLP quantization env
transformers==4.21.1
datasets==2.4.0
matplotlib==3.5.3
wordcloud==1.8.2.2
optimum==1.3.0
optimum.habana==1.1.2
optimum.intel==1.3.0
opencv_python==4.6.0.66
neural_compressor==1.13.1
jupyterlab==3.4.6
torch==1.12.0