## This file is added for reproducibility only and intentionally not updated regularly. ##
## To keep your system secure, please always update to the latest versions.		##

uvicorn
fastapi
intel_extension_for_pytorch
torch
torchvision
matplotlib
seaborn
scikit-learn
loguru
